@import "compass/css3";
@import "common";

.about{

  svg{
    .iconic-lg{
      fill: $main-color !important;
    }
    .iconic-property-stroke{
      stroke: $main-color !important;
      &.iconic-property-accent{
        stroke: $second-color !important;
      }
    }
  }

  font-size: 1.6em;
  line-height: 2em;

  h3{
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    color: $title-color;
  }

  .two-columns{
    @include columns(2);
    @media #{$phone-and-small-tablets} {
      @include columns(1);
    }
    &.footer{
      background: fixed url('/img/marathon.svg') center center no-repeat;
      background-size: contain;
      padding:50px 20px 150px 20px;

      @media #{$phone-and-small-tablets}{
        background-size: cover;
      }

      p{
        font-size: 1.2em;
        background: rgba($invert-text-color, 0.8);
        @include border-radius(20px);
        color: $dark-second-color;
        @include text-shadow(1px 1px $second-color);
        padding: 10px;
      }
    }
  }

  ul{
    list-style: none;
    text-align: center;

    &.arrowed{
      display: block;
      text-align: left;
      li{
        text-align: left;
        font-size: 1em;
        width: auto;
        position: relative;
        padding: 0 13em 20px 0;
        &:not(:last-of-type):after{
          display:  block;
          content: '\21E8';
          font-size: 5em;
          position:  absolute;
          width: 100px;
          height: 50px;
          vertical-align: middle;
          color: $main-color;
          top: 10px;
          right: 10px;
        }
      }
    }

    &.simple{
      display: block;
      text-align: left;
      li{
        list-style-type: square;
        display: list-item;
        text-align: left;
        padding-bottom: 20px;
        font-size: 1.1em;
        max-width: none;
        width: 100%;
      }
    }

    li{
      vertical-align: top;
      display: inline-block;
      padding: 0 20px;
      width: 200px;
      font-size: 0.7em;
      color: $title-color;
      text-align: center;
      max-width: 180px;
      font-weight: bold;
      line-height: 140%;
      svg{
        margin-bottom: 10px;
        display: block;
        width: 128px;
        height: 128px;
        &.injected-svg{
          fill: $main-color !important;
        }
      }
    }
  }

  .alert{
    margin: 20px;
    p{
      text-indent: none;
    }
    &:first-letter{
      font-size: inherit;
      color: inherit;
    }
    &:first-letter{
      font-size: inherit;
      color: inherit;
    }
    strong, em{
      font-size: 1.2em;
    }
  }

  p{
    padding-top: 1.1em;
    text-indent: 1.5em;
    &:first-line{
      line-height: 2em;
    }
    &:first-letter{
      font-size: 2em;
      color: $main-color;
    }
  }

  a{
    text-decoration: none;
  }

  aside{
    margin-top: 30px;
    margin-right: 10px;
    display: block;
    /*@include border-bottom-left-radius(20px);
    border: 3px solid $main-color;
    border-top: none;
    border-right: none;*/
    padding: 10px;
    @include box-shadow( 18px -12px 51px -25px $second-color);
  }

}




