@import "compass/css3";

$main-color: #e02878;
$second-color: #3f919d;
$dark-second-color: darken($second-color, 40%);
$bright-second-color: saturate($second-color, 40%);
$divider-color: #CCC;
$title-color: #3f919d;
$invert-text-color: white;

$phone-and-small-tablets: "(max-width: 750px)";

@mixin company-card(){
  @include background($second-color);
  @include border-radius(10px);
  @include box-shadow(0 0 0 4px $second-color, 2px 1px 6px 4px $dark-second-color);
  @include text-shadow(-1px -1px $bright-second-color);
  border: 2px dashed $main-color;
  margin: 0 10px 0 10px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 5px 10px 5px 20px;
}

#view-container a:not(.btn ){
  text-decoration: none;
  color: $bright-second-color;
  border-bottom: 1px dashed $second-color;
  &:hover{
    border: 0;
  }
}

