@import "compass/css3";
@import "common";

.coordinator{ //SVG icon style
  .callout{
    fill: $second-color
  }
  .women{
    fill: $main-color;
  }
}

.contacts{
  margin: 0;
  padding: 0 0 20px 0;
  hr {
    border-bottom: 1px dotted gray;
    margin: 10 20 10 20px;
  }

  h1 {
    padding-left: 20px;
    color: $second-color;
    font-size: 22pt;
    font-weight: bold;
  }

  .avatar {
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &.box200{
      width: 200px;
      height: 200px;
      img{
        width: 200px;
        height: auto;
        float: left;
      }
      svg{
        height: 200px;
        width: 200px;
      }
    }
    &.circle{
      @include border-radius(50%);
      @include box-shadow(0 0 20px rgba(0, 0, 0, .8));
    }
  }

  .person {
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;
    strong {
      margin-right: 5px;
      font-weight: bolder;
      font-size: 1.5em
    }
  }

  #persons{
    ul{
      display: table;
      margin-left: auto;
      margin-right: auto;
      list-style-type: none;
    }
    li{
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      max-width: 300px;
      vertical-align: top;
    }

    address{
      font-family: sans-serif;
      font-size: 1.7em;
      font-style: normal;
      color: $main-color;
      white-space: nowrap;
    }
  }

  .person-desc{
    font-family: monospace;
    font-size: 1.4em;
    color: maroon;
  }

  #organization{
    @include company-card;
  }
}


