@import "compass/css3";
@import "common";

.cost-page{
  margin: 0 12px 0 12px;

  *{
    box-sizing: content-box;
  }

  svg{
    .pricetag{
        fill: $main-color;
    }
    .returning-policy{
      .stamp{
        .border{
          fill: $invert-text-color;
        }
        .body{
          fill: $second-color;
        }
        .stroke{
          stroke: $invert-text-color;
        }
      }
      .text{
        .percent{
          fill: $invert-text-color;
        }
        .return{
          fill: $invert-text-color;
        }
        .garantee{
          fill: $invert-text-color;
        }
      }
    }
  }

  hr {
    border: 0;
    border-bottom: 1px dotted $divider-color;
    margin-top: 20px;
    padding: 0;
  }
  h1 {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.9pt;
    font-weight: 700;
    color: $title-color;
    font-size: 21.9pt;
  }

  .arrow-label {
    float: left;
    display: inline-block;
    position: relative;
    width: 228px;
    color: $invert-text-color;
    padding: 24px 0 20px 32px;
    font-style: normal;
    font-size: 20px;
    z-index: 20;
    svg{
      position: absolute;
      width: 258px;
      height: 135px;
      top: 0;
      left: 0;
      z-index: -20;
    }
    p{
      margin: 0;
      font-size: 16px;
      &>strong{
        cursor: pointer;
        &:hover + .details{
            @extend .details:hover;
        }
      }
    }

    .details{
      @include transition(max-height 1s, border-width 1s, left 1s);
      display: block;
      position: absolute;
      width: 160px;
      white-space: normal;
      max-height: 0;
      padding: 2px 5px;
      left: 25px;
      top: 105px;
      color: $main-color;
      background: $invert-text-color;
      border: 1px solid $second-color;
      border-top: 0;
      overflow: hidden;
      font-size: 16px;
      font-weight: bold;
      text-indent: 1.5em;
      line-height: 100%;
      &:hover{
        max-height: 200px;
        border: 5px ridge $second-color;
        border-top: 0;
        left: 20px;
      }
      input{
        display: block;
        margin: 10px auto;
        font-size: 14px;
      }
    }
    &>strong{
      font: {
        size: 40px;
        style: normal;
        weight: bold;
      }
      letter-spacing: 3px;
      line-height: 100%;
    }
  }

  #current-offer{
    vertical-align: middle;
    display: inline-block;
    margin: 24px 0;
    margin: 24px 0;
    background: $divider-color;
    @include border-radius(20px);
    &>p, &>div{
      display: inline-block;
    }
    &:after{
      content: '';
      clear: both;
    }

    &>p{
      font-size: 20px;
      line-height: 1.4em;
      color: $main-color;
      @include text-shadow(1px 1px $second-color);
      white-space: normal;
    }

    .pay{
      display: inline-block;
      padding-left: 20px;
      background-color: $invert-text-color;
      height: 99%;
      @include border-radius(20px);
      a{
        border: none;
      }
      img{
        width: 70px;
        margin: 5px;
      }
      input{
        display: block;
        margin: 10px;
      }
    }
  }

  input[type='button']{
    background: $bright-second-color;
    padding: 10px;
    color: $invert-text-color;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid $second-color;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    &:hover{
      border-bottom: 2px solid rgba($second-color, 0.1);
      @include text-shadow(1px 1px $second-color);
    }
    &:active{
      @include text-shadow(none);
    }
  }

  #payment-info{
    font-size: 20px;
    padding: 0 20px;
  }

  #garantee{
    position: relative;
    padding: 20px 20px 20px 250px;
    background: $second-color;
    color: $invert-text-color;
    font-size: 18px;
    min-height: 127px;
    h2{
      text-transform: uppercase;
      font-size: 22px;
      line-height: 1.2em;
      border-bottom: 1px solid $invert-text-color;
      padding-bottom: 10px;
    }
    svg{
      position: absolute;
      width: 130px;
      height: 130px;
      left: 60px;
      top: 20px;
    }
  }

  #payment-details{
    padding: 0 20px 20px;
    font-size: 20px;
    strong, h2{
      color: $main-color;
    }

    .company{
      @include company-card;
    }
  }
}





