/* line 26, scss/common.scss */
#view-container a:not(.btn) {
  text-decoration: none;
  color: #13b2c9;
  border-bottom: 1px dashed #3f919d;
}
/* line 30, scss/common.scss */
#view-container a:not(.btn):hover {
  border: 0;
}

/* line 4, scss/about.scss */
.about {
  font-size: 1.6em;
  line-height: 2em;
}
/* line 7, scss/about.scss */
.about svg .iconic-lg {
  fill: #e02878 !important;
}
/* line 10, scss/about.scss */
.about svg .iconic-property-stroke {
  stroke: #e02878 !important;
}
/* line 12, scss/about.scss */
.about svg .iconic-property-stroke.iconic-property-accent {
  stroke: #3f919d !important;
}
/* line 21, scss/about.scss */
.about h3 {
  padding: 20px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  color: #3f919d;
}
/* line 29, scss/about.scss */
.about .two-columns {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}
@media (max-width: 750px) {
  /* line 29, scss/about.scss */
  .about .two-columns {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}
/* line 34, scss/about.scss */
.about .two-columns.footer {
  background: fixed url("/img/marathon.svg") center center no-repeat;
  background-size: contain;
  padding: 50px 20px 150px 20px;
}
@media (max-width: 750px) {
  /* line 34, scss/about.scss */
  .about .two-columns.footer {
    background-size: cover;
  }
}
/* line 43, scss/about.scss */
.about .two-columns.footer p {
  font-size: 1.2em;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #050b0b;
  text-shadow: 1px 1px #3f919d;
  padding: 10px;
}
/* line 54, scss/about.scss */
.about ul {
  list-style: none;
  text-align: center;
}
/* line 58, scss/about.scss */
.about ul.arrowed {
  display: block;
  text-align: left;
}
/* line 61, scss/about.scss */
.about ul.arrowed li {
  text-align: left;
  font-size: 1em;
  width: auto;
  position: relative;
  padding: 0 13em 20px 0;
}
/* line 67, scss/about.scss */
.about ul.arrowed li:not(:last-of-type):after {
  display: block;
  content: '\21E8';
  font-size: 5em;
  position: absolute;
  width: 100px;
  height: 50px;
  vertical-align: middle;
  color: #e02878;
  top: 10px;
  right: 10px;
}
/* line 82, scss/about.scss */
.about ul.simple {
  display: block;
  text-align: left;
}
/* line 85, scss/about.scss */
.about ul.simple li {
  list-style-type: square;
  display: list-item;
  text-align: left;
  padding-bottom: 20px;
  font-size: 1.1em;
  max-width: none;
  width: 100%;
}
/* line 96, scss/about.scss */
.about ul li {
  vertical-align: top;
  display: inline-block;
  padding: 0 20px;
  width: 200px;
  font-size: 0.7em;
  color: #3f919d;
  text-align: center;
  max-width: 180px;
  font-weight: bold;
  line-height: 140%;
}
/* line 107, scss/about.scss */
.about ul li svg {
  margin-bottom: 10px;
  display: block;
  width: 128px;
  height: 128px;
}
/* line 112, scss/about.scss */
.about ul li svg.injected-svg {
  fill: #e02878 !important;
}
/* line 119, scss/about.scss */
.about .alert {
  margin: 20px;
}
/* line 121, scss/about.scss */
.about .alert p {
  text-indent: none;
}
/* line 124, scss/about.scss */
.about .alert:first-letter {
  font-size: inherit;
  color: inherit;
}
/* line 128, scss/about.scss */
.about .alert:first-letter {
  font-size: inherit;
  color: inherit;
}
/* line 132, scss/about.scss */
.about .alert strong, .about .alert em {
  font-size: 1.2em;
}
/* line 137, scss/about.scss */
.about p {
  padding-top: 1.1em;
  text-indent: 1.5em;
}
/* line 140, scss/about.scss */
.about p:first-line {
  line-height: 2em;
}
/* line 143, scss/about.scss */
.about p:first-letter {
  font-size: 2em;
  color: #e02878;
}
/* line 149, scss/about.scss */
.about a {
  text-decoration: none;
}
/* line 153, scss/about.scss */
.about aside {
  margin-top: 30px;
  margin-right: 10px;
  display: block;
  /*@include border-bottom-left-radius(20px);
  border: 3px solid $main-color;
  border-top: none;
  border-right: none;*/
  padding: 10px;
  -moz-box-shadow: 18px -12px 51px -25px #3f919d;
  -webkit-box-shadow: 18px -12px 51px -25px #3f919d;
  box-shadow: 18px -12px 51px -25px #3f919d;
}
