/* line 26, scss/common.scss */
#view-container a:not(.btn) {
  text-decoration: none;
  color: #13b2c9;
  border-bottom: 1px dashed #3f919d;
}
/* line 30, scss/common.scss */
#view-container a:not(.btn):hover {
  border: 0;
}

/* line 5, scss/contacts.scss */
.coordinator .callout {
  fill: #3f919d;
}
/* line 8, scss/contacts.scss */
.coordinator .women {
  fill: #e02878;
}

/* line 13, scss/contacts.scss */
.contacts {
  margin: 0;
  padding: 0 0 20px 0;
}
/* line 16, scss/contacts.scss */
.contacts hr {
  border-bottom: 1px dotted gray;
  margin: 10 20 10 20px;
}
/* line 21, scss/contacts.scss */
.contacts h1 {
  padding-left: 20px;
  color: #3f919d;
  font-size: 22pt;
  font-weight: bold;
}
/* line 28, scss/contacts.scss */
.contacts .avatar {
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 33, scss/contacts.scss */
.contacts .avatar.box200 {
  width: 200px;
  height: 200px;
}
/* line 36, scss/contacts.scss */
.contacts .avatar.box200 img {
  width: 200px;
  height: auto;
  float: left;
}
/* line 41, scss/contacts.scss */
.contacts .avatar.box200 svg {
  height: 200px;
  width: 200px;
}
/* line 46, scss/contacts.scss */
.contacts .avatar.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
/* line 52, scss/contacts.scss */
.contacts .person {
  text-align: center;
  white-space: nowrap;
  margin-top: 20px;
}
/* line 56, scss/contacts.scss */
.contacts .person strong {
  margin-right: 5px;
  font-weight: bolder;
  font-size: 1.5em;
}
/* line 64, scss/contacts.scss */
.contacts #persons ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
/* line 70, scss/contacts.scss */
.contacts #persons li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 300px;
  vertical-align: top;
}
/* line 78, scss/contacts.scss */
.contacts #persons address {
  font-family: sans-serif;
  font-size: 1.7em;
  font-style: normal;
  color: #e02878;
  white-space: nowrap;
}
/* line 87, scss/contacts.scss */
.contacts .person-desc {
  font-family: monospace;
  font-size: 1.4em;
  color: maroon;
}
/* line 93, scss/contacts.scss */
.contacts #organization {
  background: #3f919d;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 0 4px #3f919d, 2px 1px 6px 4px #050b0b;
  -webkit-box-shadow: 0 0 0 4px #3f919d, 2px 1px 6px 4px #050b0b;
  box-shadow: 0 0 0 4px #3f919d, 2px 1px 6px 4px #050b0b;
  text-shadow: -1px -1px #13b2c9;
  border: 2px dashed #e02878;
  margin: 0 10px 0 10px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 5px 10px 5px 20px;
}
