/* line 26, scss/common.scss */
#view-container a:not(.btn) {
  text-decoration: none;
  color: #13b2c9;
  border-bottom: 1px dashed #3f919d;
}
/* line 30, scss/common.scss */
#view-container a:not(.btn):hover {
  border: 0;
}

/* line 4, scss/cost.scss */
.cost-page {
  margin: 0 12px 0 12px;
}
/* line 7, scss/cost.scss */
.cost-page * {
  box-sizing: content-box;
}
/* line 12, scss/cost.scss */
.cost-page svg .pricetag {
  fill: #e02878;
}
/* line 17, scss/cost.scss */
.cost-page svg .returning-policy .stamp .border {
  fill: white;
}
/* line 20, scss/cost.scss */
.cost-page svg .returning-policy .stamp .body {
  fill: #3f919d;
}
/* line 23, scss/cost.scss */
.cost-page svg .returning-policy .stamp .stroke {
  stroke: white;
}
/* line 28, scss/cost.scss */
.cost-page svg .returning-policy .text .percent {
  fill: white;
}
/* line 31, scss/cost.scss */
.cost-page svg .returning-policy .text .return {
  fill: white;
}
/* line 34, scss/cost.scss */
.cost-page svg .returning-policy .text .garantee {
  fill: white;
}
/* line 41, scss/cost.scss */
.cost-page hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin-top: 20px;
  padding: 0;
}
/* line 47, scss/cost.scss */
.cost-page h1 {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.9pt;
  font-weight: 700;
  color: #3f919d;
  font-size: 21.9pt;
}
/* line 56, scss/cost.scss */
.cost-page .arrow-label {
  float: left;
  display: inline-block;
  position: relative;
  width: 228px;
  color: white;
  padding: 24px 0 20px 32px;
  font-style: normal;
  font-size: 20px;
  z-index: 20;
}
/* line 66, scss/cost.scss */
.cost-page .arrow-label svg {
  position: absolute;
  width: 258px;
  height: 135px;
  top: 0;
  left: 0;
  z-index: -20;
}
/* line 74, scss/cost.scss */
.cost-page .arrow-label p {
  margin: 0;
  font-size: 16px;
}
/* line 77, scss/cost.scss */
.cost-page .arrow-label p > strong {
  cursor: pointer;
}
/* line 85, scss/cost.scss */
.cost-page .arrow-label .details {
  -moz-transition: max-height 1s, border-width 1s, left 1s;
  -o-transition: max-height 1s, border-width 1s, left 1s;
  -webkit-transition: max-height 1s, border-width 1s, left 1s;
  transition: max-height 1s, border-width 1s, left 1s;
  display: block;
  position: absolute;
  width: 160px;
  white-space: normal;
  max-height: 0;
  padding: 2px 5px;
  left: 25px;
  top: 105px;
  color: #e02878;
  background: white;
  border: 1px solid #3f919d;
  border-top: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  text-indent: 1.5em;
  line-height: 100%;
}
/* line 104, scss/cost.scss */
.cost-page .arrow-label .details:hover, .cost-page .arrow-label p > strong:hover + .details {
  max-height: 200px;
  border: 5px ridge #3f919d;
  border-top: 0;
  left: 20px;
}
/* line 110, scss/cost.scss */
.cost-page .arrow-label .details input {
  display: block;
  margin: 10px auto;
  font-size: 14px;
}
/* line 116, scss/cost.scss */
.cost-page .arrow-label > strong {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 100%;
}
/* line 127, scss/cost.scss */
.cost-page #current-offer {
  vertical-align: middle;
  display: inline-block;
  margin: 24px 0;
  margin: 24px 0;
  background: #CCC;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 134, scss/cost.scss */
.cost-page #current-offer > p, .cost-page #current-offer > div {
  display: inline-block;
}
/* line 137, scss/cost.scss */
.cost-page #current-offer:after {
  content: '';
  clear: both;
}
/* line 142, scss/cost.scss */
.cost-page #current-offer > p {
  font-size: 20px;
  line-height: 1.4em;
  color: #e02878;
  text-shadow: 1px 1px #3f919d;
  white-space: normal;
}
/* line 150, scss/cost.scss */
.cost-page #current-offer .pay {
  display: inline-block;
  padding-left: 20px;
  background-color: white;
  height: 99%;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 156, scss/cost.scss */
.cost-page #current-offer .pay a {
  border: none;
}
/* line 159, scss/cost.scss */
.cost-page #current-offer .pay img {
  width: 70px;
  margin: 5px;
}
/* line 163, scss/cost.scss */
.cost-page #current-offer .pay input {
  display: block;
  margin: 10px;
}
/* line 170, scss/cost.scss */
.cost-page input[type='button'] {
  background: #13b2c9;
  padding: 10px;
  color: white;
  font-size: 18px;
  border: 0;
  border-bottom: 2px solid #3f919d;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
/* line 180, scss/cost.scss */
.cost-page input[type='button']:hover {
  border-bottom: 2px solid rgba(63, 145, 157, 0.1);
  text-shadow: 1px 1px #3f919d;
}
/* line 184, scss/cost.scss */
.cost-page input[type='button']:active {
  text-shadow: none;
}
/* line 189, scss/cost.scss */
.cost-page #payment-info {
  font-size: 20px;
  padding: 0 20px;
}
/* line 194, scss/cost.scss */
.cost-page #garantee {
  position: relative;
  padding: 20px 20px 20px 250px;
  background: #3f919d;
  color: white;
  font-size: 18px;
  min-height: 127px;
}
/* line 201, scss/cost.scss */
.cost-page #garantee h2 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1.2em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
/* line 208, scss/cost.scss */
.cost-page #garantee svg {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 60px;
  top: 2;
}
/* line 217, scss/cost.scss */
.cost-page #payment-details {
  padding: 0 20px 20px;
  font-size: 20px;
}
/* line 220, scss/cost.scss */
.cost-page #payment-details strong, .cost-page #payment-details h2 {
  color: #e02878;
}
/* line 224, scss/cost.scss */
.cost-page #payment-details .company {
  background: #3f919d;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 0 4px #3f919d, 2px 1px 6px 4px #050b0b;
  -webkit-box-shadow: 0 0 0 4px #3f919d, 2px 1px 6px 4px #050b0b;
  box-shadow: 0 0 0 4px #3f919d, 2px 1px 6px 4px #050b0b;
  text-shadow: -1px -1px #13b2c9;
  border: 2px dashed #e02878;
  margin: 0 10px 0 10px;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding: 5px 10px 5px 20px;
}
