html, body {
    height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.max-width {
    max-width: 100%;
}

.inpit-wrapper {
    width: 880px;
}

.clearfix {
    clear: both;
}

.header-link {
    color: #e6e6e6 !important;
}

.triangle {
    display: table-cell;
    width: 0;
    height: 0;
    border-collapse: separate;
}

.left-triangle {
    border-top: 20px solid transparent;
    border-right: 20px solid #ffffff;
    border-bottom: 20px solid transparent;
}

.middle-triangle {
    display: table-cell;
    background: #ffffff;
    text-indent: 0;
    text-align: center;
    color: #e02878;
    font-size: 14pt;
    font-weight: bold;
    width: 150px;
}

.right-triangle {
    border-top: 20px solid transparent;
    border-left: 20px solid #ffffff;
    border-bottom: 20px solid transparent;
}

.fixedsticky {
    z-index: 99;
    top: 55px;
    left: 0;
    right: 0;
}

#nbm {
    display: none;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}

.header-1 {
    color: #3f919d;
    font-size: 22pt;
    font-weight: bold;
}

.font-weight-bold {
    font-weight: bold;
}

.display-inline-block {
    display: inline-block;
}

.display-table-cell {
    display: table-cell;
}

.display-none {
    display: none;
}

#featured-carousel-td {
    width: 100px;
    overflow-x: hidden;
}

@media (min-width: 400px) {
    #featured-carousel-td {
        width: 100px;
    }
}

@media (min-width: 600px) {
    #featured-carousel-td {
        width: 200px;
    }
}

@media (min-width: 800px) {
    #featured-carousel-td {
        width: 300px;
    }
}

@media (min-width: 1000px) {
    #featured-carousel-td {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    #featured-carousel-td {
        width: 700px;
    }
}

.carousel-arrow {
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 6em;
    color: #ffffff;
}

.circle-avatar {
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
}

.accordion-toggle {
    cursor: pointer;
}

.ng-pageslide {
    background: #e6e6e6;
}

#page-wrapper {
    width: 100%;
    height: 100%;
    border-collapse: separate;
}

#content {
    vertical-align: top;
    z-index: 1;
}

.form-signin {
    width: 300px;
}
.this-class-is-meant-to-fuck-yours-eyes-and-brains-thanks-for-your-time {
    margin-top: 60px;
}

#nav {
    display: none;
}

#nav-mobile {
    display: block;
    background: #3f919d;
    border-radius: 0;
    color: #e6e6e6;
    height: 55px;
    border: 0;
    width: 100%;
    z-index: 9000;
    position: fixed;
}

@media (min-width: 850px) {
    #nav {
        display: block;
    }

    #nav-mobile {
        display: none;
    }

    .this-class-is-meant-to-fuck-yours-eyes-and-brains-thanks-for-your-time {
        margin-top: 0;
    }

    .fixedsticky {
        top: 0;
        left: 250px;
        right: 0;
    }
}