.todo-list .new,
.todo-list .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.todo-list .new {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.02);
    z-index: 2;
    box-shadow: none;
}

.todo-list ul li :before {
    content: '';
    border-left: 1px solid #f5d6d6;
    border-right: 1px solid #f5d6d6;
    width: 4px;
    position: absolute;
    top: 0;
    left: 40px;
    height: 100%;
}

.todo-list button, .todo-list input[type="checkbox"] {
    outline: none;
    border: 0;
    padding: 0;
    background: none;
}

.todo-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px dotted #ccc;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li .toggle {
    text-align: center;
    width: 40px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    /* Mobile Safari */
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.todo-list li .toggle:after {
    content: '✔';
    /* 40 + a couple of pixels visual adjustment */
    line-height: 43px;
    font-size: 20px;
    color: #d9d9d9;
    text-shadow: 0 -1px 0 #bfbfbf;
}

.todo-list li .toggle:checked:after {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;
    bottom: 1px;
    position: relative;
}

.todo-list li label {
    white-space: pre;
    word-break: break-word;
    padding: 15px 60px 15px 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.todo-list li.completed label {
    color: #a9a9a9;
    text-decoration: line-through;
}

.todo-list li .control:before{
    content: '';
    border:0;
}

.todo-list li .control {
    display: none;
    position: absolute;
    top: 0;
    float: right;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #a88a8a;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.todo-list li .control:hover {
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.todo-list li .delete:after {
    content: '✖';
}

.todo-list li:hover .control {
    display: block;
}

.todo-list li .unpin, .todo-list li .pin{
    font-family: 'Glyphicons Halflings';
    right: 40px;
}

.todo-list li .unpin:after {
    content: '\e094';
}

.todo-list li .pin:after {
    content: '\e146';
}



.todo-list li.editing {
    border-bottom: none;
    padding: 0;
}

.todo-list li.editing .edit {
    display: block;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
    width: -moz-calc(100% - 43px);
    /* WebKit */
    width: -webkit-calc(100% - 43px);
    /* Opera */
    width: -o-calc(100% - 43px);
    /* Standard */
    width: calc(100% - 43px);
}

.todo-list li.editing .view {
    display: none;
}

.todo-list li .edit {
    display: none;
}

.todo-list li.editing:last-child {
    margin-bottom: -1px;
}
