#sidebar {
    width: 250px;
    background: #e6e6e6;
    padding-left: 0;
    margin-left: 0;
    vertical-align: top;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 9000;
}

#sidebar > .sidebar-nav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav {
    position: relative;
    top: 0;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

}

.sidebar-nav li.menu-title {
    text-indent: 0;

}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li.border-bottom-grey {
    border-bottom: 1px solid #cccccc;
}

.sidebar-nav li.border-bottom-grey-wide {
    border-bottom: 4px solid #cccccc;
}

.sidebar-nav li.border-top-grey-wide {
    border-top: 4px solid #cccccc;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li.active a {
    background: #ffffff;
}

/*.sidebar-nav li a:hover {*/
/*text-decoration: none;*/
/*color: #fff;*/
/*background: rgba(255, 255, 255, 0.2);*/
/*}*/
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    background: #ffffff;
}

.sidebar-nav > .sidebar-brand {
    height: 155px;
    font-size: 18px;
    line-height: 60px;
    width: 100%;
}

.menu-title {
    background: #f4f4f4;
    color: #e02878;
    /*padding-left: 15px;*/
    font-size: 24pt;
    font-weight: bold;
    display: table-cell;
    width: 250px;
    vertical-align: middle;
    text-align: center;
}

.marathon-start-title {
    padding-top: 20px;
    color: #999999;
    display: table-cell;
    text-align: center;
}

.marathon-start-time {
    padding-left: 30px
}

.marathon-day {
    padding: 10px 0 0 30px;
}

.sidebar-project,
.sidebar-conditions,
.sidebar-cost,
.sidebar-contacts {
    display: none;
}

@media (max-width: 850px) {
    #sidebar {
        width: 0;
        position: fixed;
        top: 50px;
        left: 0;
    }

    #sidebar > .sidebar-nav {
        margin-left: -250px;
    }

    .sidebar-brand, .menu-descr {
        display: none;
    }

    .menu-title {
        height: 55px;
        font-size: 16pt;
    }

    .marathon-start-title,
    .marathon-start-time,
    .marathon-day {
        display: none;
    }

    .sidebar-project,
    .sidebar-conditions,
    .sidebar-cost,
    .sidebar-contacts {
        display: block;
    }
}