.avatar {
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar.box200 {
    width: 200px;
    height: 200px;
}

.avatar.box200 img{
    width: 200px;
    height: auto;
    float: left;
}

.avatar.circle {
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
	border-radius: 50%; /* Opera 10.5, IE 9 */
	-moz-border-radius: 50%;  /*Disabled for FF1+ */
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

hr {
    border-bottom: 1px dotted gray;
    margin: 10 20 10 20px;
}

h1 {
    padding-left: 20px;
    color: #3f919d;
    font-size: 22pt;
    font-weight: bold;
}

.person {
    text-align: center;
    white-space: nowrap;
    margin-top: 20px;
}

.person strong {
    margin-right: 5px;
    font-weight: bolder;
    font-size: 1.5em
}

#persons ul{
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

#persons li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    vertical-align: top;
}

#persons address{
    font-family: sans-serif;
    font-size: 1.7em;
    font-style: normal;
    color: #e02878;
    white-space: nowrap;
}

.person-desc{
    font-family: monospace;
    font-size: 1.4em;
    color: maroon;
}

#organization {
    background: rgba(63, 145, 157, 0.7);
    border-radius: 10px;
    border: 2px dashed pink;
    margin: 0 10px 0 10px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    padding: 5px 10px 5px 20px;
    box-shadow: 0 0 0 4px rgba(63, 145, 157, 0.7), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px rgb(53, 135, 137);
    
}
