
body{
    padding: 0;
    margin: 0;
    background: white;
}

hr {
    border: 0;
    border-bottom: 1px dotted #CCCCCC;
    margin-top: 28px;
    padding: 0;
}

h1 {
    margin-top: 34px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.9pt;
    font-weight: 700;
    color: #3f919d;
    font-size: 21.9pt;
    
}
#current-offer {
    position: relative;
    display: block;
    margin: 24px auto;
    height: 135px;
    display: block;
    white-space: nowrap;
    background: gray;
    border-radius: 20px;
    padding-right: 420px;
    min-width: 520px;
}

.content-page{
    margin: 0 12px 0 12px; 
}

#current-offer>p, #current-offer>div{
    display: inline-block;
}

.arrow-label {
    display: inline-block;
    position: relative;
    width: 228px;
    color: white;
    height: 135px;
    padding: 24px 0 20px 32px;
    font-style: normal;
    font-size: 20px;
    z-index: 20;
}

.arrow-label img{
    position: absolute;
    width: 258px;
    top: 0;
    left: 0;
    z-index: -20;
}

.arrow-label p{
    margin: 0;
    font-size: 18px;
}

.arrow-label .details{
    display: block;
    position: absolute;
    width: 160px;
    white-space: normal;
    max-height: 0;
	overflow: hidden;
    
    padding: 2px 5px;
    
	/* Set our transitions up. */
	-webkit-transition: max-height 1s, border-width 1s, left 1s;
	-moz-transition: max-height 1s,  border-width 1s, left 1s;
	transition: max-height 1s, border-width 1s, left 1s;
        
    left: 30px;
    top: 105px;
    color: black;
    background: white;
    border: 1px solid #166A75;
    border-top: 0;
}

.arrow-label p>strong {
    cursor: pointer;
}

.arrow-label p>strong:hover + .details, .arrow-label .details:hover{
    max-height: 200px;
    border: 5px ridge #166A75;
    border-top: 0;
    left: 25px;
}

.arrow-label .details input{
    display: block;
    margin: 10px auto;
    font-size: 14px;
}


.arrow-label>strong{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 100%;
}

#current-offer>p{
    font-size: 20px;
    line-height: 1.4em;
    color: aliceblue;
    white-space: normal;
}

#current-offer .pay{
    padding-left: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    height: 100%;
    border-radius: 20px;
}

#current-offer .pay img{
    width: 70px;
    margin: 5px;
}

#current-offer .pay input{
    display: block;
    margin: 10px;
}

input[type='button']{
    background: #37B2C2;
    padding: 10px;
    color: white;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid #166A75;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

input[type='button']:hover{
     border-bottom: 2px solid rgba(22, 106, 117, 0.1);
     text-shadow: 1px 1px #166A75;
}

input[type='button']:active{
    text-shadow: none;
}

#payment-info{
    font-size: 20px;
    padding: 0 20px;
}

#garantee{
    position: relative;
    padding: 20px 20px 20px 250px;
    background: #37B2C2;
    color: white;
    font-size: 18px;
}

#garantee h2{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.2em;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#garantee img{
    width: 130px;
    left: 60px;
    top: 20px;
    position: absolute;
}

#payment-details{
    padding: 0 20px 20px;
    font-size: 20px;
}

#payment-details a{
    text-decoration: none;
    color: #166A75;
    border-bottom: 1px dashed #37B2C2;
}

#payment-details a:hover{
    border: 0;
}

#payment-details strong, #payment-details h2{
    color: #e02878;
}

#payment-details .company{
    background: #37B2C2;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #37B2C2, 2px 1px 6px 4px #166A75;
    text-shadow: -1px -1px #166A75;
    border: 2px dashed #e02878;
    margin: 0 10px 0 10px;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    padding: 5px 10px 5px 20px;
}