<div class="header-1">Что это?</div>
<hr/>
<article class="about">
        <p>
        <strong>DreamsUpp</strong> – веб-сервис переноса мечтаний в реальность.<br>
        <p>Курс по достижению желаемого, продолжительностью в 28 дней.<br>
        <ul class="arrowed">
            <li>Берешь мечту,</li>
            <li>смешиваешь с пониманием,</li>
            <li>дополняещь усилиями,</li>
            <li>заправляешь стремлением,</li>
            <li>посыпаешь концентрацией.</li>
            <li>Исполняешь желание!</li>
        </ul>
        <aside>
            <h3>Проходя курс, ты ежедневно</h3>
            <ul>
                <li><img inject-svg data-src="/img/icons/target.svg">Ставишь цели</li>
                <li><img inject-svg data-src="/img/icons/task.svg">Получаешь задания</li>
                <li><img inject-svg data-src="/img/icons/check.svg">Выполняшь их</li>
                <li><img inject-svg data-src="/img/icons/heart.svg">Делишься успехами</li>
                <li><img inject-svg data-src="/img/icons/inkwell.svg">Пишешь свою историю успехов и поражений</li>
                <li><img inject-svg data-src="/img/icons/people.svg">Получаешь поддержку единомышленниц</li>
                <li><img inject-svg data-src="/img/icons/thumb.svg">Оказываешь поддержку</li>
                <li><img inject-svg data-src="/img/icons/graph.svg">Делаешь по шагу к мечте</li>
            </ul>
        </aside>
    <article class="two-columns">
    <p>
        Чудеса свершаются там, где в них верят.
        <ul class="simple">
            <li>Ты научишься верить в свои силы.</li>
            <li>Получишь ясное понимание причин и важности своей мечты.</li>
            <li>Обретешь уверенность в реальности её воплощения.</li>
            <li>Будешь знать путь по которому следует идти.</li>
            <li>И когда он приведет к желаемому.</li>
        </ul>
    </p>
    <p>
        Пойми свою мечту,<br>
        поставь себе достойную цель,<br>
        даже если времени будет недостаточно,<br>
        ты гарантированно сделаешь огромный скачек в своем достижении,<br>
        сравнимый с привычным ходом жизни за полгода или даже год.
    </p>
    </article>
    <aside>
        <h3> <a href="/#/featured" target="_blank">Участницы предыдущих марафонов</a> уже добились своих целей:</h3>
        <ul>
            <li><img inject-svg data-src="/img/icons/husband.svg">Встретить мужчину своей мечты</li>
            <li><img inject-svg data-src="/img/icons/vacation.svg">Поехать в отпуск к морю</li>
            <li><img inject-svg data-src="/img/icons/new-car.svg">Купить новый автомобиль</li>
            <li><img inject-svg data-src="/img/icons/be-sexy.svg">Постройнеть на 5 килограмм</li>
            <li><img inject-svg data-src="/img/icons/home-repair.svg">Завершить ремонт</li>
            <li><img inject-svg data-src="/img/icons/x3money.svg">Увеличить свой доход в 3 раза</li>
            <li><img inject-svg data-src="/img/icons/surprise.svg">И это еще не все...</li>
        </ul>
        <p>Реальные мечты, реальных женщин, которые однажды решили: <strong>Я это сделаю!</strong><br>
           !Записаться на курс.</p>
    </aside>
    <aside>
        <strong>Все дороги начинаются с первого шага.</strong><br> Создайте свою историю успеха!
    </aside>
    <article class="two-columns footer">
    <p>
        Все мы – люди.<br>
        Не супер-героини со страниц книг и лент кино. <br>
        Нам случается лениться или бояться. <br>
        Иногда нам не хватает самодисциплины.<br>
        Нас отвлекают разные жизненные ситуации. Нам недостает решимости.<br>
        И это так по-человечески понятно и присуще многим из нас.<br>
        Но все это не может помешать вам достичь того, чего вы хотите.<br>
        Медленнее или быстрее – но ваше желание исполнится.<br>
        Важно поднять голову, посмотреть вокруг.<br>
        Понять себя, свои желания, убедиться, что они твои.<br>
        .... и сделать первый шаг<br>
        Пока вы не купили лотерейный билет, у вас нет шанса на выигрыш.<br>
        Ваш первый шаг, оплатить участие:<br>
        «Это – моя цель». «Это – мое желание». «Это – моя мечта». «Я хочу этого».<br/>
    </p>
    <p>
        Нет никаких рамок, никаких границ, кроме тех, которые создали мы сами.<br>
        Начни действовать. Попробуй. Сегодня. Вместе с другими участницами курса.
    </p>
    </article>
</article>