<style>
    .participate-button:hover {
        background: #e02878;
    }
</style>
<div class="wrapper">
    <div class="header-1">
        Мечтайте. Действуйте. Достигайте
    </div>
    <div style="color:#37b2c2; font-size: 16pt;">
        Осуществи свою мечту за 28 дней
    </div>

    <div ng-if="currentCourseId && !currentCourse.user" style="max-width: 320px; margin-bottom: 10px; color:#e02878; font-size: 14pt; font-weight: bold;">
        <a href="/api/auth/vk/{{ currentCourseId }}" class="btn btn-block btn-social btn-lg btn-vk participate-button">
            <i class="fa fa-vk"></i>Зарегистрируйтесь
        </a> до 10 января и получите скидку 20%
    </div>
    <hr/>
    <div style="color:#e02878; font-size: 16pt;">
        <div class="margin-bottom-10">
            <b>100%</b> довольных своими результатами участниц
        </div>
        <div class="margin-bottom-10">
            Более <b>80%</b> желаний участниц сбываются
        </div>
        <div>
            Гарантия возврата денег в <b>первые 3 дня</b>
        </div>
    </div>
    <div class="margin-bottom-20">
        <h4>
            Что будем делать?
        </h4>
        <ul>
            <li>Ставить цели</li>
            <li>Выполнять задания каждый день</li>
            <li>Писать о том, что у получилось, а что - пока нет</li>
            <li>Получать поддержку от участниц и отвечать взаимностью</li>
            <li>Каждый день делать по шагу к мечте</li>
        </ul>

    </div>

</div>