<div class="wrapper">
    <div class="header-1">Условия участия</div>
    <hr/>
    <div class="margin-bottom-20">
        <h4>Что необходимо для участия в марафоне?</h4>
        <ul>
            <li>Быть женщиной</li>
            <li>Иметь мечту, желание или цель</li>
            <li>Зарегистрироваться и оплатить участие</li>
            <li>Выходить в интернет 1 раз в день</li>
        </ul>
    </div>

    <div class="margin-bottom-20">
        Самые активные участницы – те, кто ежедневно выкладывает отчеты – получат ценные подарки. А отчеты участниц
        прошлых марафонов вы можете посмотреть <a href="https://vk.com/successchool ">Вконтакте</a> и <a
            href="http://instagram.com/dreams_upp ">Инстаграм</a>, набрав #dreamsupp в поиске
    </div>


</div>