<div class="contacts">
    <h1>Контакты</h1>
    <hr>
    <section id="persons">
        <ul>
            <li>
                <div class="avatar box200 circle">
                    <img inject-svg data-src="/img/coordinator.svg" alt="Координатор">
                </div>
                <p class="person">
                    <strong>Координатор DreamsUpp</strong>
                    <a title="Адрес профиля DreamsUpp 'ВКонтакте'" href="http://vk.com/dreamsupp" target="_blank"
                       class="btn btn-social-icon btn-vk">
                        <i class="fa fa-vk"></i>
                    </a>
                </p>
                <p class="person-desc">
                    Обращайтесь по всем техническим и организационным вопросам
                </p>
            </li>
            <li>
                <div class="avatar box200 circle">
                    <img src="/img/avatar-mary.jpg">
                </div>
                <p class="person">
                    <strong>Мария Маркова</strong>
                    <a title="Адрес профиля Марии 'ВКонтакте'" href="http://vk.com/marya.markova" target="_blank"
                       class="btn btn-social-icon btn-vk">
                        <i class="fa fa-vk"></i>
                    </a>
                </p>
                <p class="person-desc">
                    Обращайтесь по всем вопросам, касающимся марафона
                </p>
                <address>
                    <i class="glyphicon glyphicon-phone-alt"></i>
                    <em>+7-917-017-12-00</em> <br>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <a href="mailto::maria.markova@list.ru">maria.markova@list.ru</a>
                </address>
            </li>
        </ul>
    </section>
    <section id="organization">
        <p>
            <strong>ООО "ДримзАп"</strong><br>
        <address>Юр. Адрес: 443035, гор.Самара, ул.Кромская, д.4</address><br>

        ИНН/КПП   6312144898/631201001<br>
        ОГРН 1146312010350<br>
        Генеральный директор: <strong>Маркова Мария Александровна</strong>
        </p>
        <p>
            <em>р/с 40702810929180002049</em> в Филиал "Нижегородский" ОАО "АЛЬФА-БАНК" (<em>БИК 042202824</em>,ИНН 7728168971, ОГРН 1027700067328)<br>
            к/с  30101810200000000824 в ВОЛГО-ВЯТСКОЕ ГУ БАНКА РОССИИ.
        </p>
    </section>


</div>