<div class="cost-page">
    <h1>Стоимость участия</h1>
    <hr>
    <section id="current-offer">
        <em class="arrow-label">
            <img inject-svg data-src="/img/pricetag.svg">
            <strong>4800</strong> руб. <br>
            <p>
                или в 4 платежа по <br><strong>1200 руб. в неделю!</strong>
                <span class="details"><br>Оплати только первую неделю. <br><br> Мы предупредим, когда потребутеся доплата.<input type="button" value="Оплатить участие"></span>
            </p>
        </em>
        <p>
            Подумайте сколько стоит ваша цель?<br>
            Стоит ли ваша мечта одного похода за продуктами?<br>
            Или нового платья?
        </p>
        <div class="pay">
            <a href="http://visa.com.ru/ru/ru-ru/index.shtml" target="_blank">
                <img src="https://www.moneta.ru/info/public/requirements/visa.png" alt="логотип Visa"></a>
            <a href="http://www.mastercard.com/ru/consumer/" target="_blank">
                <img src="https://www.moneta.ru/info/public/requirements/mastercard.png" alt="логотип MasterCard"></a><br>
            <a href="http://payanyway.ru" target="_blank">
                <img src="https://www.moneta.ru/info/public/requirements/moneta.png" alt="логотип PayAnyWay"></a>
            <a alt="логотип WebMoney" href="http://www.megastock.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/wm_transparent.png"></a>
            <input type="button" value="Оплатить участие">
        </div>
    </section>
    <section id="payment-info">
        <p>
            Можно оплатить весь марафон или же оплачивать участие по неделям.<br>В любом случае с вами остаются все знания, инструменты и успехи, которые вы получили.</p>
        <p> У тебя действительно сильное желание достичь своих целей, добиться успеха, дополнить свою жизнь новыми, яркими красками, зарядиться положительными эмоциями, знакомиться и общаться с единомышленницами. </p>
        <p>Присоединяйся!</p>
    </section>

    <section id="garantee">
        <img inject-svg data-src="/img/garantee.svg" alt="Гарантия возврата денег">
        <h2>Успех гарантирован!</h2>
        <p>
            Если в первых 3 дня марафона вы захотите его покинуть, мы вернем вам деньги, все до последней копейки.
        </p>
    </section>

    <section id="payment-details">
        <h2>Процесс оплаты услуги</h2>

        <p><strong>Банковские карты</strong></p>
        <p>Сервис приёма оплаты предоставлен <a href="http://payanyway.ru/">PayAnyWay</a>.</p>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="100" valign="top">
                    <p><img src="https://www.moneta.ru/info/public/requirements/visa.png"></p>
                    <p><img src="https://www.moneta.ru/info/public/requirements/mastercard.png"></p>

                </td>
                <td valign="top">
                    <p>PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D Secure.</p>
                    <p>В соответствии с ФЗ «О защите прав потребителей» в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен на банковскую карту, с которой производилась оплата. Порядок возврата средств уточняйте у администрации интернет-магазина.</p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><strong>Электронные деньги</strong></p>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="100" valign="top">
                    <p><a href="http://www.moneta.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/moneta.png"></a></p>
                </td>
                <td valign="top">
                    <p><strong>Монета.Ру</strong>
                        <br>Для осуществления оплаты с помощью платежной системы Монета.Ру вам необходимо иметь кошелек, зарегистрировать который можно на сайте системы.
                        <br>Способы пополнения кошелька можно найти на сайте Монета.Ру в разделе «Как пополнить». Зачисление платежей через Монета.Ру происходит мгновенно.</p>
                </td>
            </tr>

            <tr>
                <td width="100" valign="top">
                    <p><a href="http://www.megastock.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/wm_transparent.png"></a></p>

                </td>
                <td valign="top">
                    <p><strong>WebMoney</strong>
                        <br>Для совершения оплаты вы должны быть зарегистрированы в системе WebMoney Transfer. К оплате принимаются титульные знаки WMR, зачисление денег происходит мгновенно.</p>
                </td>
            </tr>

            <tr>
                <td width="100" valign="top">
                    <p><a href="https://money.yandex.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/yandexmoney.png"></a></p>
                </td>
                <td valign="top">
                    <p><strong>Яндекс.Деньги</strong>
                        <br>Для осуществления оплаты с помощью сервиса Яндекс.Деньги вам необходимо иметь кошелек, зарегистрированный на сайте платежной системы.
                        <br>Зачисление платежей через платежную систему Яндекс.Деньги происходит мгновенно.</p>
                </td>
            </tr>
            <tr>
                <td width="100" valign="top">
                    <p><a href="https://www.qiwi.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/qiwi.png"></a></p>
                </td>
                <td valign="top">
                    <p><strong>QIWI Кошелек</strong>
                        <br>Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте платежной системы.
                        <br>Если у вас нет QIWI Кошелька, вам необходимо зарегистрировать его на сайте сервиса или в любом из приложений QIWI Кошелька.</p>
                </td>
            </tr>
            </tbody>
        </table>

        <p><strong>Банковские сервисы</strong></p>
        <p>Системы онлайн-банкинга «Сбербанк ОнЛ@йн», «Альфа-Клик», «Qbank Связной банк», «Промсвязьбанк», «Faktura.ru».
            <br>Банковским или почтовым переводом, а также через систему денежных переводов «CONTACT».</p>
        <p><img src="https://www.moneta.ru/info/public/requirements/bank.png"></p>

        <p><strong>Платёжные терминалы</strong></p>
        <p>Элекснет, ОПЛАТА.РУ, Федеральная система Город, Московский кредитный банк, Форвард Мобайл, CiberPay, Platika, НКО «ЛИДЕР», ComePay.</p>
        <p><img src="https://www.moneta.ru/info/public/requirements/terminal.png"></p>

        <p><strong>SMS сервисы</strong></p>
        <p>Сотовые операторы Мегафон и МТС</p>
        <p><img src="https://www.moneta.ru/info/public/requirements/megafon.png">&nbsp;<img src="https://www.moneta.ru/info/public/requirements/mts.png"></p>

        </br>
        <p><strong>Возникли вопросы по оплате?</strong><br/>
            Воспользуйтесь <a href="http://payanyway.ru/info/w/ru/public/w/payment-methods/index.html" target="_blank">подробными инструкциями</a> по каждому из способов оплаты или свяжитесь с нами.</p>

        <p><strong>Служба поддержки покупателей PayAnyWay</strong></p>
        <p><a href="http://payanyway.ru/" target="_blank"><img src="https://www.moneta.ru/info/public/requirements/payanyway.gif"></a></p>
        <p>Телефон: +7 (495) 743-49-85
            <br>E-mail: <a href="mailto:helpdesk.support@payanyway.ru">helpdesk.support@payanyway.ru</a></p>
        <div class="company">
            <p>
                <h3>Реквизиты для безналичной оплаты:</h3>
            <p>ООО "ДримзАп"</p>
            <address>Юр. Адрес: 443035, гор.Самара, ул.Кромская, д.4</address>
            <br>ИНН/КПП   6312144898/631201001
            <br>ОГРН 1146312010350
            </p>
            <p>
                Банковские реквизиты: <em>р/с 40702810929180002049</em><br> в Филиал "Нижегородский" ОАО "АЛЬФА-БАНК" <br><em>БИК 042202824</em>,ИНН 7728168971, ОГРН 1027700067328
                <br>к/с  30101810200000000824 в ВОЛГО-ВЯТСКОЕ ГУ БАНКА РОССИИ.
            </p>
        </div>
    </section>
</div>