<div class="wrapper">
    <div ng-repeat="course in courses">
        <div>
            <img ng-src="{{ course.program.imageUrl }}" class="left">
            <h1>{{ course.program.title }}</h1>
            <a href="{{course.socialGroups[0].groupUrl }}" target="_blank"
               class="btn btn-social-icon btn-vk right">
                <i class="fa fa-vk"></i>
            </a>
        </div>
        <div>Создан {{ course.created |date : 'dd MMMM yyyy'  }}, участников {{course.memberCount}}</div>
        <div>
            Начало {{ course.dateStart |date : 'dd MMMM yyyy'  }}, окончание {{ course.dateEnd |date : 'dd MMMM yyyy' }}
        </div>
        <button class="btn btn-success" ng-click="startCourse(course)">Запустить!</button>
    </div>
</div>