<div class="wrapper">
    <div infinite-scroll='nextDaysPage()' infinite-scroll-disabled='daysLoading'>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">


            </div>
            <div class="col-xs-1">
            </div>
        </div>

        <table>
            <tr>
                <td id="left-arrow-stub" style="width:100px;">
                </td>
                <td id="left-arrow" ng-click="moveRight()" style="display: none;">
                    <div class="carousel-arrow">
                        <i class="glyphicon glyphicon-chevron-left"></i>

                    </div>
                </td>
                <td id="featured-carousel-td">
                    <div style="width:inherit; overflow-x: hidden;">
                        <div id="crl" style="width:inherit;">
                            <div ng-repeat="user in featured" ng-click="setCurrentFUser(user)"
                                 class="img-circle"
                                 style=" width:100px; height:100px; cursor: pointer; margin-left:20px; display: table-cell;">
                                <circle-avatar size="100" image-url="{{user.profile.avatarUrl}}"/>
                            </div>
                        </div>
                    </div>

                </td>
                <td id="right-arrow" ng-click="moveLeft()">
                    <div class="carousel-arrow">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </td>
                <td id="right-arrow-stub" style="width:100px; display: none;">
                </td>
            </tr>
        </table>


        <hr/>
        <table>
            <tr>
                <td>
                    <circle-avatar size="200" image-url="{{currentFUser.profile.avatarUrl}}"/>
                </td>
                <td style="padding-left: 25px;">
                    <div style="font-weight: bold; font-size: 14pt;">
                        {{currentFUser.profile.lastName + ' '+ currentFUser.profile.firstName}}
                    </div>
                    <div>По итогам марафона</div>
                    <div style="color:#3f919d; font-weight: bold; font-size: 16pt;">
                        {{ currentFUser.courses[0].finalReport }}
                    </div>

                </td>
            </tr>
        </table>
        <div style="color:#3f919d; font-size: 22pt;font-weight: bold; height:100px; display: table-cell;  vertical-align: middle;">
            Дневник цели
        </div>
        <div ng-repeat="course in currentFUser.courses">
            <div>
                <table class="table">
                    <tr ng-repeat="day in course.days">
                        <td style="color:#3f919d;">
                            <div style="background: #ebebeb; width:75px; height:75px;">
                                <div style="font-size: 22pt; text-align: center; font-weight: bold;">
                                    {{day.dayNumber}}
                                </div>
                                <div style="text-align: center;">
                                    День
                                </div>
                            </div>
                        </td>
                        <td ng-bind-html="day.report | lineBreak">
                        </td>
                        <td>
                            <div style="height: 50px; width:150px; font-size: 22pt; text-align: center; font-weight: bold;
                                    color:#ffffff;"
                                 ng-style="getBackgroundByPercent(day.percentDone)">
                                {{day.percentDone}} %
                            </div>
                        </td>
                    </tr>
                </table>
                <div ng-show="daysLoading"><b>Загрузка дней...</b></div>
            </div>
        </div>
    </div>
</div>