<div class="modal-header">
    <h4 class="modal-title"><span class="glyphicon glyphicon-hand-up"></span> {{ message.serverMessage }}</h4>
</div>
<div class="modal-body">
    <h3>{{ message.clientMessage }}, необходимо осуществить вход</h3>
    <a href="/api/auth/vk" class="btn btn-block btn-social btn-lg btn-vk">
        <i class="fa fa-vk"></i>Войти через ВКонтакте
    </a>
</div>


