<div class="wrapper">
    <alert type="info" ng-if="!hideReminder" close="closeReminder()">
        До сдачи отчета за {{ currentMarathon.daysFromStart }} день осталось
        <timer end-time="deadLine"><span ng-show="hours === 0 && minutes === 0 && seconds ===0">... не осталось</span><span ng-show="hours !== 0 || minutes !== 0 || seconds !==0">{{hours}}:{{minutes}}:{{seconds}}</span></timer>
        <div ng-if="skippedDaysCount>0" >
            У Вас недостает {{ skippedDaysCount }} записей в дневнике успеха за предыдущие дни
        </div>
    </alert>
    <tabset>
        <tab ng-repeat="day in days" ng-click="setActiveDay(day)" active="currentDay">
            <tab-heading style="cursor: pointer;">
                <div>День {{day.dayNumber}}</div>
            </tab-heading>
            <div>
                <accordion close-others="false">
                    <accordion-group is-open="sectionOpen.task">
                        <accordion-heading>
                            <div>{{day.title}}</div>
                        </accordion-heading>
                        <div class="panel-body">
                            <h4>Описание дня</h4>
                            <div ng-bind-html="day.description"></div>
                            <h4>Задание</h4>
                            <div ng-bind-html="day.quest"></div>
                            <h4 ng-if="day.questForMyself">Что мы сегодня делаем для себя любимой?!</h4>
                            <div ng-bind-html="day.questForMyself"></div>
                            <h4 ng-if="day.successDiary">Дневник успеха</h4>
                            <div ng-bind-html="day.successDiary"></div>
                        </div>
                    </accordion-group>

                    <!-- Calculator -->
                    <accordion-group is-open="sectionOpen.calc" heading="Рассчет цели" ng-if="day.dayNumber === 1 && !day.isAccepted && !day.needToBeChecked">
                        <div sticky sticky-when-set="sectionOpen.task">
                            <alert type="{{calc.name?'success':'danger'}}" class="max-width">
                                <div ng-if="!calc.name">
                                    Назовите вашу цель, мы, пока, не понимаем о чем идет речь.
                                </div>
                                <div ng-if="calc.name && calcInProgress">
                                    Считаем сколько поребуется времени для достижения "{{ calc.name }}"
                                </div>
                                <div ng-if="calc.name && daysToTarget">
                                    Для достижения "{{ calc.name }}" потребуется {{ daysToTarget }} дней.
                                    <button class="btn btn-success" ng-click="addTarget(calc.name, daysToTarget)">Добавить цель!</button>
                                </div>
                                <div ng-if="calc.name && !daysToTarget && !calcInProgress">
                                    Мы очень сожалеем, но цель вам не по зубам :(
                                </div>
                            </alert>
                        </div>
                        <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Напишите свою цель или желание. Чего вы хотите достигнуть">
                            <label for="calc-name" >Ваша цель...</label>
                            <input class="form-control" type="text" ng-model="calc.name" id="calc-name" ng-model-options="{debounce: {'default': 1000}}"/>
                        </div>
                        <br/>
                        <div ng-if="calc.name">
                            <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Укажите время, когда ваша цель должна быть достигнута.">
                                <label for="calc-timeToReach" >Через сколько дней Ваша цель должна быть достигнута?</label>
                                <input type="range" min="1" max="365" step="1" id="calc-timeToReach" ng-model="calc.timeToReach" />
                                <alert type="info">На мой взляд, требуется {{calc.timeToReach}} дней для достижения "{{ calc.name }}"</alert>
                            </div>
                            <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Оцените свои ресурсы и свой потенциал в достижении заданной цели.
                     Насколько вы чувствуете себя способной достичь поставленную цель?
                     Оцените в цифре от 1 до 10, где 1 – никогда не достигала подобных целей,
                     10 –  достигала таких целей часто.">
                                <label for="calc-potential">Достигали ли Вы похожих целей?</label>
                                <input type="range" min="1" max="10" step="1" id="calc-potential" ng-model="calc.potential"/>
                                <alert type="{{calcError.potential?'danger':'info'}}">{{calcError.potential?('Потенциал ' + calc.potential + ' слишком низок для достижения цели, одновременно с малой известностью цели для Вас = ' + calc.newness): calc.potential| calcCoefs: 'potential'}} "{{ calc.name }}"</alert>
                            </div>
                            <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Оцените новизну поставленной цели от 1 до 10, где 1 –новая цель, никогда не встречалась с такой, 10 – цель привычная.">
                                <label for="calc-newness">Насколько хорошо Вы знакомы со своей целью?</label>
                                <input type="range" min="1" max="10" step="1" id="calc-newness" ng-model="calc.newness"/>
                                <alert type="{{calcError.newness?'danger':'info'}}">{{calcError.newness?('Известность цели для Вас = ' + calc.newness + ' слишком мала, одновременно с низким потенциалом = '+ calc.potential + ' для её достижения'): calc.newness| calcCoefs: 'newness'}} "{{ calc.name }}"</alert>
                            </div>
                            <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Оцените от 1 до 10, где 1 – мне нужно очень сильно постараться для того, чтобы получить свою цель, а 10 – уверена, я достигну своей цели, у меня уже есть все, что нужно для этого.">
                                <label for="calc-hardness">Легко ли Вам будет достичь цели?</label>
                                <input type="range" min="1" max="10" step="1" id="calc-hardness" ng-model="calc.hardness"/>
                                <alert type="info">{{calc.hardness| calcCoefs: 'hardness'}} "{{ calc.name }}"</alert>
                            </div>
                            <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Оцените от 1 до 10, где 1 – практически никто и ничто не мешает достижению цели, отличные условия, а 10 – есть люди, которые могут помешать, условия очень неблагоприятные.">
                                <label for="calc-resistance">Насколько велико давление обстоятельств, мешающих достижению цели?</label>
                                <input type="range" min="1" max="10" step="1" id="calc-resistance" ng-model="calc.resistance"/>
                                <alert type="{{calcError.resistance?'danger':'info'}}">{{calcError.resistance?('Сопротивление обстоятельств = ' + calc.resistance + ' слишком высоко для вашего потенциала к достижению цели и её известности для Вас'): calc.resistance| calcCoefs: 'resistance'}} "{{ calc.name }}"</alert>
                            </div>
                            <div popover-placement="top" popover-animation="true" popover-trigger="mouseenter" popover="Если взять всё время, которое вы уделяете своим делам за 100%, то сколько процентов времени вы будете уделять конкретной  цели?">
                                <label for="calc-timeToFill">Сколько % Вашего активного времени намерены отдать на достижение цели?</label>
                                <input type="range" min="1" max="100" step="1" id="calc-timeToFill" ng-model="calc.timeToFill"/>
                                <alert type="info">{{calc.timeToFill}}% своего времени готова тратить на достижение "{{ calc.name }}"</alert>
                            </div>
                        </div>
                    </accordion-group>

                    <!-- TARGETS --->

                    <!--<alert type="info">{{ savedStatus.targets }}</alert>-->
                    <accordion-group class="todo-list" heading="Мои цели" is-open="sectionOpen.targets" ng-if="targets.length > 0">
                        <ul>
                            <li ng-repeat="check in targets"
                                ng-class="{completed: check.checked}">
                                <input class="toggle" type="checkbox" ng-disabled="day.needToBeChecked|| day.isAccepted" ng-model="check.checked">
                                <label>{{check.name}} (займет {{ check.daysToReach }} дней)</label>
                                <button ng-if="day.dayNumber === 1 && !day.needToBeChecked && !day.isAccepted " ng-click="removeTarget(check)"
                                        class="control delete"></button>
                            </li>
                        </ul>
                    </accordion-group>

                    <!--<alert type="info">{{ savedStatus.checklists[day.dayNumber] }}</alert>-->

                    <!-- MANDATORY -->
                    <accordion-group class="todo-list" is-open="sectionOpen.mandatory" heading="Обязательные задачи" ng-if="day.checklist.list.mandatory.length > 0">
                        <ul>
                            <li ng-repeat="check in day.checklist.list.mandatory"
                                ng-class="{completed: check.isDone}">
                                <input class="toggle" type="checkbox" ng-disabled="day.needToBeChecked|| day.isAccepted" ng-model="check.isDone">
                                <label>{{check.text}}</label>
                            </li>
                        </ul>
                    </accordion-group>

                    <!-- PINNED -->
                    <accordion-group is-open="sectionOpen.pinned" heading="Ежедневные задачи" class="todo-list">
                        <form ng-submit="addCheck('pinned', day.newPinned); day.newPinned=''">
                            <input class="new" placeholder="Введите задачу на каждый день и нажмите ввод" ng-model="day.newPinned">
                        </form>
                        <ul>
                            <li ng-repeat="check in day.checklist.list.pinned"
                                ng-class="{completed: check.isDone, editing: check == day.editingPinned}">
                                <div class="view">
                                    <input class="toggle" type="checkbox" ng-disabled="day.needToBeChecked|| day.isAccepted" ng-model="check.isDone">
                                    <label ng-click="day.editingPinned = check">{{check.text}}</label>
                                    <button ng-if="!day.needToBeChecked && !day.isAccepted " ng-click="unpin($index)"
                                            class="control unpin"></button>
                                    <button ng-if="!day.needToBeChecked && !day.isAccepted " ng-click="removeCheck('pinned', $index)"
                                            class="control delete"></button>
                                </div>
                                <form>
                                    <input class="edit" ng-trim="false" ng-model="day.editingPinned.text" ng-blur="day.editingPinned = null" todo-focus="check == day.editingPinned">
                                </form>
                            </li>
                        </ul>
                    </accordion-group>

                    <!-- SIMPLE -->
                    <accordion-group is-open="sectionOpen.simple" heading="Задачи на день" class="todo-list">
                        <form ng-submit="addCheck('simple', day.newSimple); day.newSimple=''">
                            <input class="new" placeholder="Введите задачу на сегодня и нажмите ввод" ng-model="day.newSimple">
                        </form>
                        <ul>
                            <li ng-repeat="check in day.checklist.list.simple"
                                ng-class="{completed: check.isDone, editing: check == day.editingSimple}">
                                <div class="view">
                                    <input class="toggle" type="checkbox" ng-disabled="day.needToBeChecked|| day.isAccepted" ng-model="check.isDone">
                                    <label ng-click="day.editingSimple = check">{{check.text}}</label>
                                    <button ng-if="!day.needToBeChecked && !day.isAccepted " ng-click="pin($index)"
                                            class="control pin"></button>
                                    <button ng-if="!day.needToBeChecked && !day.isAccepted " ng-click="removeCheck('simple', $index)"
                                            class="control delete"></button>
                                </div>
                                <form>
                                    <input class="edit" ng-trim="false" ng-model="day.editingSimple.text" ng-blur="day.editingSimple = null" todo-focus="check == day.editingSimple">
                                </form>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </div>
            <div ng-form name="reportForm">
                <!--<alert type="info">{{ savedStatus.report[day.dayNumber] }}</alert>-->
                <div class="panel panel-default">
                    <div class="panel-heading">Дневник успеха</div>
                    <div ng-if="day.isAccepted" class="panel-body">
                        <span>Ваш запись в дневнике проверена и опубликована!</span>
                        <div>
                            {{ day.report }}
                        </div>
                    </div>
                    <div ng-if="!day.isAccepted" class="panel-body">
                        <textarea ng-disabled="day.needToBeChecked|| day.isAccepted" class="form-control span12" rows="6" name="report"
                                  ng-model="day.report" placeholder="Опишите в свободной форме, чего вы достигли за день" required></textarea>
                        <alert type="info" ng-show="reportForm.report.$error.required">В дневник нужно сначала что-то написать, а потом уже отправить.</alert>
                        <button ng-show="reportForm.$valid"
                                ng-if="!day.needToBeChecked|| day.isAccepted" ng-click="markCheckNeeded(day)"
                                class="btn btn-default">
                            <i class="glyphicon glyphicon-send"/> Написать в дневник
                        </button>
                        <div ng-if="day.needToBeChecked">
                            <div> Ваша запись дневника отправлена на проверку!
                                <button class="btn btn-link" ng-click="cancelCheckNeeded(day)">отменить отправку</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

