<div class="wrapper">
    <div>
        <div class="row" style="background: #e6e6e6; height:100px; margin: 10px  10px  10px  10px;">
            <div class="col-xs-8">
                <div class="info" ng-if="userGroup.isFinished">
                    Марафон завершен
                </div>
                <!-- TODO put it to left panel-->
                <!--<div class="info" ng-if="userGroup.isStarted && !userGroup.isFinished">-->
                <!--Марафон стартовал! Идет {{ userGroup.currentDay }} день-->
                <!--</div>-->
                <!--<div class="info">-->
                <!--В марафоне {{ userGroup.memberCount }} участников-->
                <!--</div>-->
                <div style=" margin-left:20px; color:#e02878; font-size: 24pt;font-weight: bold; height:100px; display: table-cell;  vertical-align: middle; font-style: italic;">
                    {{ userGroup.program.title }}
                    <a href="{{ userGroup.socialGroups[0].groupUrl }}" target="_blank"
                       class="btn btn-social-icon btn-vk">
                        <i class="fa fa-vk"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-4">
                <div style="height:100px; display: table-cell;  vertical-align: middle;">
                    <div style="background: #ffffff; font-size:12pt; padding:15px;">
                        <div class="glyphicon glyphicon-calendar"
                             style="display: inline-block; font-size: 2.3em; color:#cccccc; margin-right: 20px;"></div>
                        <div style="display: inline-block; text-align: right;">
                            <div>с {{ userGroup.dateStart |date : 'dd MMMM yyyy' }}</div>
                            <div>по {{ userGroup.dateEnd |date : 'dd MMMM yyyy' }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div infinite-scroll='nextDaysPage()' infinite-scroll-disabled='daysLoading'>
        <table>
            <tr>
                <td id="left-arrow-stub" style="width:100px;">
                </td>
                <td id="left-arrow" ng-click="moveRight()" style="display: none;">
                    <div class="carousel-arrow">
                        <i class="glyphicon glyphicon-chevron-left"></i>

                    </div>
                </td>
                <td id="featured-carousel-td">
                    <div style="width:inherit; overflow-x: hidden;">
                        <div id="crl" style="width:inherit;">
                            <div ng-repeat="user in users" ng-click="setCurrentFUser(user)"
                                 class="img-circle"
                                 style=" width:100px; height:100px; cursor: pointer; margin-left:20px; display: table-cell;">
                                <circle-avatar active="{{user.isItMe}}" size="100" image-url="{{user.profile.avatarUrl}}"/>
                            </div>
                        </div>
                    </div>
                </td>
                <td id="right-arrow" ng-click="moveLeft()">
                    <div class="carousel-arrow">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </div>
                </td>
                <td id="right-arrow-stub" style="width:100px; display: none;">
                </td>
            </tr>
        </table>
        <hr/>
        <table>
            <tr>
                <td>
                    <a href="{{ currentFUser.socialProfiles[0].profileUrl}}">
                        <circle-avatar size="200" image-url="{{currentFUser.profile.avatarUrl}}"/>
                    </a>
                </td>
                <td style="padding-left: 25px;">
                    <div style="font-weight: bold; font-size: 14pt;">
                        {{currentFUser.profile.lastName + ' '+ currentFUser.profile.firstName}}
                    </div>
                    <div ng-if="currentFUser.isItMe" style="font-weight: bold; font-size: 14pt; color: green">Это Вы
                    </div>
                    <div ng-if="currentFUser.course.dateExited">Выбыла из марафона
                        {{currentFUser.course.dateExited|date:'dd MMMM yyyy'}}
                    </div>
                    <div ng-if="currentFUser.course.finalReport">По итогам марафона</div>
                    <div style="color:#3f919d; font-weight: bold; font-size: 16pt;">
                        {{ currentFUser.course.finalReport }}
                    </div>
                </td>
            </tr>
        </table>
        <div style="color:#3f919d; font-size: 22pt;font-weight: bold; height:100px; display: table-cell;  vertical-align: middle;">
            Дневник цели
        </div>
        <div>
            <div ng-if="currentFUser.course.days.length === 0">
                Все достижения, пока еще, в будущем
            </div>
            <table class="table">
                <tr ng-repeat="day in currentFUser.course.days">
                    <td style="color:#3f919d;">
                        <div style="background: #ebebeb; width:75px; height:75px;">
                            <div style="font-size: 22pt; text-align: center; font-weight: bold;">
                                {{day.dayNumber}}
                            </div>
                            <div style="text-align: center;">
                                День
                            </div>
                        </div>
                    </td>
                    <td ng-bind-html="day.report | lineBreak">
                    </td>
                    <td>
                        <div style="height: 50px; width:150px; font-size: 22pt; text-align: center; font-weight: bold;
                                    color:#ffffff;"
                             ng-style="getBackgroundByPercent(day.percentDone)">
                            {{day.percentDone}} %
                        </div>
                    </td>
                </tr>
            </table>
            <div ng-show="daysLoading"><b>Загрузка дней...</b></div>
        </div>
    </div>
</div>