<div ng-switch on="paymentResult" >
    <div ng-switch-when="success">
        Платеж прошел успешно!
    </div>
    <div ng-switch-when="failure">
        Что-то пошло не так с вашим платежом. Зайдите на главную станицу и проверьте, что все хорошо.
        Если нет, попробуйте оплатить еще раз.
        Если и снова нет, напишите нам, мы все решим
    </div>
    <div ng-switch-when="reject">
        Вы отменили оплату, очень жаль :(
    </div>
    <div ng-switch-when="inProgress">
        Ваш платеж находится в обработке, пожалуйста подождите.
    </div>
</div>
<div ng-if="report">
    <img ng-src="{{ report.imageUrl }}"/>
    <div>
        Марафон: {{ report.title }},
        Дата начала оплаты: {{ report.crated| date : 'dd.MM.yyyy hh:mm:ss' }}
        <div>
            Сумма: {{ report.cost.amount }}
            Валюта: {{ report.cost.currency }}
        </div>
    </div>
</div>