<style>
    .participate-button:hover {
        background: #e02878;
    }
</style>
<div class="wrapper">
    <div ng-if="currentCourseId">
        <div>
            <div class="row" style="background: #e6e6e6; height:100px; margin:0;">
                <div class="col-xs-8">
                    <div style="color:#e02878; font-size: 24pt;font-weight: bold; height:100px; display: table-cell;  vertical-align: middle; font-style: italic;">
                        {{ currentCourse.program.title }}
                    </div>
                </div>
                <div class="col-xs-4">
                    <div style="height:100px; display: table-cell;  vertical-align: middle;">
                        <div style="background: #ffffff; font-size:12pt; padding:15px;">
                            <div class="glyphicon glyphicon-calendar"
                                 style="display: inline-block; font-size: 2.3em; color:#cccccc; margin-right: 20px;"></div>
                            <div style="display: inline-block; text-align: right;">
                                <div>с {{ currentCourse.dateStart |date : 'dd MMMM yyyy' }}</div>
                                <div>по {{ currentCourse.dateEnd |date : 'dd MMMM yyyy' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top:20px; margin-bottom: 20px;"
             ng-bind-html="currentCourse.program.description | lineBreak"/>
        <h4><a href="http://www.dreamsupp.com/#!marafon/c1tes" target="_blank">ПОДРОБНЕЕ</a></h4>

        <div/>
    </div>
    <div ng-if="currentCourse.user">
        <div>
            <circle-avatar size="200" image-url="{{currentCourse.user.profile.avatarUrl}}"/>
        </div>
        <div style="margin-bottom: 25px;">
            <div style="font-weight: bold; font-size: 14pt;">
                {{currentCourse.user.profile.lastName + ' '+ currentCourse.user.profile.firstName}}
            </div>
            <!-- active = оплатил, waiting = ждет оплаты, not-in вообще не в группе (рисовать кнопку "зарегистрироваться", несмотря на то, что залогинен) -->
            <div ng-if="currentCourse.user.status!=='not-in'" ng-bind-html="getStatusText(currentCourse.user.status)"
                 style="color:#3f919d; font-weight: bold; font-size: 16pt;">
            </div>
            <div ng-if="currentCourse.user.status==='not-in'">
                <button class="btn btn-success" ng-click="register()">Зарегистрироваться в группе</button>
            </div>
        </div>
    </div>
    <div ng-if="!currentCourseId">На данный момент марафонов не запланировано</div>
    <div ng-if="currentCourseId && !currentCourse.user" style="max-width: 320px; margin-bottom: 10px;">
        <a href="/api/auth/vk/{{ currentCourseId }}" class="btn btn-block btn-social btn-lg btn-vk participate-button">
            <i class="fa fa-vk"></i>Оплатить участие
        </a>
    </div>

    <div style="max-width: 320px;">
        <a href="http://vk.com/share.php?url=http://marathon.dreamsupp.com" target="_blank"
           class="btn btn-block btn-social btn-lg btn-vk participate-button">
            <i class="fa fa-vk"></i>Рассказать друзьям!
        </a>
    </div>
    <!-- Оплата от Яндекса-->
    <div class="margin-top-10">
        <iframe frameborder="0" allowtransparency="true" scrolling="no" src="http://vk.com/away.php?to=https%3A%2F%2Fmoney.yandex.ru%2Fembed%2Fshop.xml%3Faccount%3D410012919958336%26quickpay%3Dshop%26payment-type-choice%3Don%26writer%3Dseller%26targets%3D%25D0%25A3%25D1%2587%25D0%25B0%25D1%2581%25D1%2582%25D0%25B8%25D0%25B5%2B%25D0%25B2%2B%25D0%25B2%25D0%25B5%25D1%2581%25D0%25B5%25D0%25BD%25D0%25BD%25D0%25B5%25D0%25BC%2B%25D0%25BC%25D0%25B0%25D1%2580%25D0%25B0%25D1%2584%25D0%25BE%25D0%25BD%25D0%25B5%2BDreamsupp%26targets-hint%3D%26default-sum%3D%26button-text%3D01%26comment%3Don%26hint%3D%25D0%25B2%25D0%25B2%25D0%25B5%25D0%25B4%25D0%25B8%25D1%2582%25D0%25B5%2B%25D0%25B2%25D0%25B0%25D1%2588%2B%25D0%25B0%25D0%25BA%25D0%25BA%25D0%25B0%25D1%2583%25D0%25BD%25D1%2582%2B%25D0%25B2%25D0%25BA%25D0%25BE%25D0%25BD%25D1%2582%25D0%25B0%25D0%25BA%25D1%2582%25D0%25B5%26fio%3Don%26mail%3Don%26successURL%3Dhttps%253A%252F%252Fvk.com%252Fdreamsupp" width="450" height="283"></iframe>
    </div>
    <div>
        <div ng-if="currentCourse.members.active"
             style="color:#3f919d; font-size: 22pt;font-weight: bold; height:100px; display: table-cell;  vertical-align: middle;">
            Участники
        </div>

        <!--TODO here can be not only one network-->
        <div>
            <span ng-repeat="member in currentCourse.members.active"
                  style="display: inline-block; padding-right: 25px;">
                <a href="{{ member.user.socialProfiles[0].profileUrl }}" target="_blank">
                    <circle-avatar size="200" image-url="{{member.user.profile.avatarUrl}}"/>
                </a>
                </span>
        </div>

        <div ng-if="currentCourse.members.waiting"
             style="color:#3f919d; font-size: 22pt;font-weight: bold; height:100px; display: table-cell;  vertical-align: middle;">
            Желающие
        </div>


        <!--TODO here can be not only one network-->
        <div>
            <span ng-repeat="member in currentCourse.members.waiting"
                  style="display: inline-block; padding-right: 25px;">
                <a href="{{ member.user.socialProfiles[0].profileUrl }}" target="_blank">
                    <circle-avatar size="200" image-url="{{member.user.profile.avatarUrl}}"/>
                </a>
            </span>
        </div>

    </div>

</div>