<div class="wrapper">
    <div class="panel panel-default" ng-repeat="report in reports">
        <div class="panel-heading">Отчеты {{report.profile.firstName + ' '+ report.profile.lastName}}</div>
        <div class="pull-left" style="padding: 10px 10px 10px 10px">
            <a href="{{ report.socialProfiles[0].profileUrl }}" target="_blank">
                <circle-avatar size="100" image-url="{{report.profile.avatarUrl}}"/>
            </a>
        </div>
        <div class="panel-body">
            <div ng-repeat="course in report.courses">
                <div class="panel">
                    <h4>Марафон:</h4>
                    <div>
                        <span ng-repeat="group in course.course.socialGroups">
                            <a href="{{ group.groupUrl }}" target="_blank"
                               class="btn btn-social-icon btn-vk" style="margin-top: 10px">
                                <i class="fa fa-vk"></i>
                            </a>
                        </span>
                        "{{ course.course.program.title }}"  c {{ course.course.dateStart| date:'dd MMMM yyyy'}} по {{ course.course.dateEnd| date:'dd MMMM yyyy'}}
                    </div>
                </div>
                <div ng-repeat="day in course.days" style="clear: both">
                    <div class="panel panel-default">
                        <label class="pull-left" style="padding-right: 10px">{{ day.dayNumber }} день</label>
                        <div class="fa fa-quote-left">
                            {{ day.report }}
                        </div>
                    </div>
                    <div class="container display-inline-block" ng-repeat="comment in day.comments">
                        <div ng-if="comment.moderator">
                            <a href="{{ comment.moderator.socialProfiles[0].profileUrl }}" target="_blank">
                                <circle-avatar size="50" image-url="{{comment.moderator.profile.avatarUrl}}"/>
                            </a>
                            {{ comment.moderator.profile.firstName }} {{ comment.moderator.profile.lastName }}
                        </div>
                        <div ng-if="!comment.moderator">
                            <a href="{{ report.socialProfiles[0].profileUrl }}" target="_blank">
                                <circle-avatar size="50" image-url="{{report.profile.avatarUrl}}"/>
                            </a>
                            {{ report.profile.firstName }} {{ report.profile.lastName }}
                        </div>
                        <div ng-class="{fa:true, 'fa-quote-left': comment.moderator, 'fa-quote-right': !comment.moderator}">
                            <br/>

                            <div class="left">
                                <span ng-class="{right:true, glyphicon:true, 'glyphicon-ok': comment.verb === 'a', 'glyphicon-remove': comment.verb === 'r', 'glyphicon-send': comment.verb === 'm' }"></span>
                                {{ comment.date|date : 'dd MMMM yyyy' }}
                            </div>
                            <br/>
                            <div>
                                {{ comment.text }}
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div ng-form name="commentForm">
                        <textarea name="comment" ng-model="day.moderatorComment" class="form-control" placeholder="Введите свой отзыв по отчету" required>
                        </textarea>
                        <br/>
                        <alert type="danger" ng-show="commentForm.comment.$error.required">Отзыв обязателен</alert>
                        <div class="btn-group" ng-show="commentForm.$valid">
                            <button class="btn btn-primary" ng-click="postComment(course.course._id, report._id, day.dayNumber, 'm', day)">
                                <i class="glyphicon glyphicon-send"></i> Написать
                            </button>
                            <button ng-if="!day.accepted && !day.rejected" class="btn btn-success" ng-click="postComment(course.course._id, report._id, day.dayNumber, 'a', day)">
                                <i class="glyphicon glyphicon-ok"></i> Опубликовать
                            </button>
                            <button ng-if="!day.accepted && !day.rejected" class="btn btn-danger" ng-click="postComment(course.course._id, report._id, day.dayNumber, 'r', day)">
                                <i class="glyphicon glyphicon-remove"></i> Отклонить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>