<div class="wrapper">
    <div class="panel panel-default">
        <div class="panel-heading">Пользователи</div>

        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <td>
                        <div>Аватарка</div>
                        <button ng-click="clearFilters()" class="btn btn-warning">Очистить фильтр</button>
                        <br/>
                        Только активные: <input type="checkbox" ng-model="filters.active"/>
                    </td>
                    <td>Имя</td>
                    <td>
                        <div>Фамилия</div>
                        <input type="text" ng-model="filters.lastName" class="form-control" placeholder="Фамилия"/>
                    </td>
                    <td>Аккаунты в соцсетях</td>
                    <td>Роль</td>
                    <td>
                        <div>Марафоны</div>
                        <ui-select ng-model="filters.course" theme="bootstrap" style="min-width: 300px;">
                            <ui-select-match placeholder="Выберите марафон">({{ $select.selected.dateStart | date:'dd MMMM yyyy' }} - {{ $select.selected.dateEnd | date:'dd MMMM yyyy' }}) {{ $select.selected.program.title }}</ui-select-match>
                            <ui-select-choices repeat="course in courses">
                                <div>{{ course.program.title }}</div>
                                <small>
                                    с: {{course.dateStart | date:'dd MMMM yyyy'}}
                                    по: {{ course.dateEnd | date:'dd MMMM yyyy'}}
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <!--<td>Отчеты</td>-->
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in userList">
                    <td>
                        <img ng-src="{{user.profile.avatarUrl}}" alt="аватарка" class="img-thumbnail"
                             style="max-height: 100px;">
                    </td>
                    <td>{{user.profile.firstName}}</td>
                    <td>{{user.profile.lastName}}
                        <br/>
                        <button class="btn btn-info" ng-if="!mergeCommand.main" ng-click="startMerge(user)">Объединить профиль</button>
                        <span ng-if="mergeCommand.main && !mergeCommand.slave">
                            <button ng-if="user!==mergeCommand.main" ng-click="finishMerge(user)" class="btn btn-success">Включить в профиль {{ mergeCommand.main.profile.firstName }} {{ mergeCommand.main.profile.lastName }}</button>
                            <button ng-click="clearMerge()" class="btn btn-danger">Отменить слияние</button>
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="profile in user.socialProfiles">
                            <a href="{{profile.profileUrl}}" target="_blank" class="btn btn-social-icon btn-vk">
                                <i class="fa" ng-class="{'fa-vk': profile.networkName === 'vk'}"></i>
                            </a>
                        </span>
                    </td>
                    <td>{{user.role}}</td>
                    <td>
                        <table class="table">
                            <thead>
                            <tr>
                                <td>Марафон</td>
                                <td></td>
                                <td>Текущий день</td>
                                <td></td>
                                <td>Дата приема</td>
                                <td>Дата выхода</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="course in user.courses">
                                <td>"{{ course.course.program.title }}" c {{ course.course.dateStart| date:'dd MMMM yyyy'}} по {{ course.course.dateEnd| date:'dd MMMM yyyy'}}</td>
                                <td>
                                    <button ng-if="course.days[0].dayNumber > 0 && !course.dateExited && course.dateJoined" ng-click="removeUserDay(user._id, course.course._id,course.days[0])"  class="btn btn-default">
                                        <i class="glyphicon glyphicon-minus" />
                                    </button>
                                </td>
                                <!--The array  contains only the last day-->
                                <!-- TODO: Тут захардкожено 28, вот так жесть -->
                                <td>{{course.days[0].dayNumber}}</td>
                                <td>
                                    <button ng-if="(!course.days[0].dayNumber || course.days[0].dayNumber < 28) && !course.dateExited && course.dateJoined" ng-click="addUserDay(user._id, course.course._id,course.days)" class="btn btn-default">
                                        <i class="glyphicon glyphicon-plus" />
                                    </button>
                                </td>
                                <td>
                                    <span ng-if="course.dateJoined">{{ course.dateJoined| date: 'dd.MM.yyyy' }}</span>
                                    <button ng-if="!course.dateJoined && !course.dateExited" class="btn btn-info" ng-click="accept(user._id ,course)">Принять</button>
                                </td>
                                <td>
                                    <span ng-if="course.dateExited">{{ course.dateExited| date: 'dd.MM.yyyy' }}</span>
                                    <button ng-if="!course.dateExited" class="btn btn-danger" ng-click="reject(user._id ,course)">Отклонить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <!--<td>Отчеты</td>-->
                </tr>
            </table>

        </div>
    </div>
</div>