<div class="wrapper">
    <hr/>
    <div class="margin-bottom-20">
        К сожалению, мы не можем вас зарегистрировать в марафон, т.к он создан специально и только для женщин. Будем
        рады вашим женам, девушкам, подругам.
    </div>
    <div class="margin-bottom-20" style="max-width: 320px;">
        <a href="http://vk.com/share.php?url=http://marathon.dreamsupp.com" target="_blank"
           class="btn btn-block btn-social btn-lg btn-vk participate-button">
            <i class="fa fa-vk"></i>Рассказать друзьям!
        </a>
    </div>

</div>